<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/bootstrap.css">
    <link rel="stylesheet" href="CSS/Custom.css">
    <title>MCA2 - Externals 20MCA097</title>
</head>
<body class="bg-mattblack">
    <div ng-app="app" class="container">
        <div ng-controller="MyController">
            <br>
            <br>
            <div ng-show="!ShowBool">
                <table class="table table-dark">
                    <tr class="font-weight-bold">
                        <th ng-click="sortingFUN('st_ID')" class="TableHeaderPointer">ID</th>
                        <th ng-click="sortingFUN('st_FNAME')" class="TableHeaderPointer">First Name</th>
                        <th ng-click="sortingFUN('st_LNAME')" class="TableHeaderPointer">Last Name</th>
                        <th ng-click="sortingFUN('st_MATH')" class="TableHeaderPointer">Maths</th>
                        <th ng-click="sortingFUN('st_SCIENCE')" class="TableHeaderPointer">Science</th>
                        <th ng-click="sortingFUN('st_ENGLISH')" class="TableHeaderPointer">English</th>
                        <th ng-click="sortingFUN('st_TOTAL')" class="TableHeaderPointer">Total Marks</th>
                        <th ng-click="sortingFUN('st_GRACING')" class="TableHeaderPointer">Gracing Required</th>
                        <th>DELETE</td>
                    </tr>
                    <tr ng-repeat="x in Student_Result_Arr | orderBy: sortTypeVAR">
                        <td>{{x.st_ID}}</td>
                        <td>{{x.st_FNAME}}</td>
                        <td>{{x.st_LNAME}}</td>
                        <td>{{x.st_MATH}}</td>
                        <td>{{x.st_SCIENCE}}</td>
                        <td>{{x.st_ENGLISH}}</td>
                        <td>{{x.st_TOTAL}}</td>
                        <td>{{x.st_GRACING}}</td>
                        <td><button ng-click='deleteFUN(x)' class="btn btn-danger">Delete</button><br></td>
                    </tr>
                </table>
                <br>
                <button ng-click='ShowInsert()' class="btn btn-success btnFull">Add New Record</button>
            </div>

            <div ng-show="ShowBool" class="text-white">
                <h3>New Student..</h3>
                <form>
                    <div class="form-group">
                        <label for="in_ID">ID</label>
                        <input type="text" class="form-control" ng-model="in_ID" id="in_ID" placeholder="Enter ID">
                    </div>
                    <div class="form-group">
                        <label for="in_FNAME">First Name</label>
                        <input type="text" class="form-control" ng-model="in_FNAME" id="in_FNAME" placeholder="Enter First Name">
                    </div>
                    <div class="form-group">
                        <label for="in_LNAME">Last Name</label>
                        <input type="text" class="form-control" ng-model="in_LNAME" id="in_LNAME" placeholder="Enter Last Name">
                    </div>
                    <div class="form-group">
                        <label for="in_MATH">Maths Marks</label>
                        <input type="number"  min="0" max="100" class="form-control" ng-model="in_MATH" id="in_MATH" placeholder="Enter Math Marks">
                    </div>
                    <div class="form-group">
                        <label for="in_SCIENCE">Science Marks</label>
                        <input type="number"  min="0" max="100" class="form-control" ng-model="in_SCIENCE" id="in_SCIENCE" placeholder="Enter Science Marks">
                    </div>
                    <div class="form-group">
                        <label for="in_ENGLISH">English Marks</label>
                        <input type="number"  min="0" max="100" class="form-control" ng-model="in_ENGLISH" id="in_ENGLISH" placeholder="Enter English Marks">
                    </div>
                    <br>
                    <button ng-click='insertStudent()' class="btn btn-info btnFull">Submit</button>
                    <br>
                    <button ng-click='ShowTable()' class="btn btn-danger btnFull">Cancle</button>
                </form>
            </div>

        </div>
    </div>

    <script src="JS/angular.min.js"></script>
    <script src="JS/Custom_Aungular.js"></script>
</body>
</html>